Вс 23 мар 2025 09:46:27 MSK: Host ya.ru is up.

Вс 23 мар 2025 09:50:16 MSK: Host 192.168.1.2 is down.

Вс 23 мар 2025 09:53:29 MSK: Host 192.168.1.2 is down.
